<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8" />
    <title>Page de connexion</title>
  </head>
  <body> 
    <h1>Se connecter</h1>
    <form action="profil" method="post">
        <div>
            <label for="pseudo"> Pseudo : </label>
            <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <div>
            <label for="password"> Mot de passe : </label>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="submit" value="se connecter">
    </form>
    <p>{{mdp_erreur}}</p>
    
    <h1>Créer son compte</h1>
        <form action="inscription" method="post">
            <div>
                <label for="nom"> Nom : *</label>
                <input type="text" name="nom" id="name" required>
            </div>
            <div>
                <label for="prenom"> Prenom : *</label>
                <input type="text" name="prenom" id="prenom" required>
            </div>
            <div>
                <label for="naissance"> Date de naissance : </label>
                <input type="date" name="naissance" id="naissance" >
            </div>
            <div>
                <label for="nationalite"> Nationalité : *</label>
                <input type="text" name="nationalite" id="nationalite" >
            </div>
            <div>
                <label for="pseudo"> Pseudo : *</label>
                <input type="text" name="pseudo" id="pseudo" required>
            </div>
            <div>
                <label for="password"> Mot de passe : </label>
                <input type="password" name="password" id="password" minlength="6" required>
            </div>
            <input type="submit" value="creer">
        </form>
  </body>

</html>